<% if current_user && current_user.admin == true %>
	<div class="center">
		<h2><%= @category.name %></h2>
		<% if @category.products.first %>
			<% @products.each do |product| %>

				<%= product.name %>

			<% end %>
		<% else %>
			There are currently no products of this type.
		<% end %>
		<br><br>
		<%= link_to "[Add a Product]", new_category_product_path(@category.id) %>
	</div>
<% end %>
