<% if current_user && current_user.admin == true %>
	<h2>Products</h2>
	<div class="biggerfont">
		<span class="linkpadding"><%= link_to "[In Stock]", instock_path, class: "colorlink" %></span>
		<br><br>
		<span class="linkpadding"><%= link_to "[Sold Out]", soldout_path, class: "colorlink" %></h3></span>
		<br><br>
		<span class="linkpadding"><%= link_to "[Locations]", locations_path, class: "colorlink" %></h3></span>
		<br><br>
		<span class="linkpadding"><%= link_to "[Online Listings]", listings_path, class: "colorlink" %></span>
	</div>
<% end %>