<% if current_user && current_user.admin == true %>
	<span class="color"><h2>All Sold Products</h2></span>
	<% @sales.reverse.each do |sale| %>

			<%= link_to sale.product.name, category_product_path(sale.product.category.id, sale.product.id) %>
			<br>
			Number Sold: <span class="color"><%= sale.product.sales.all.count %></span>
			<br>
			<%= image_tag sale.product.image.url(:medium) %>
			<br><br>
		<% end %>

	<%= paginate @sales %>
<% end %>